h2{
    color: bisque;
}
img{
    height: 5rem;
    border-radius: 10rem;
    border: 2px solid black;
}
li{
    background-color: rgb(23, 21, 21);
    margin: 1rem;
    width: 50rem;
    display: flex;
    padding: 2rem;
}
ul{
    text-decoration: none;

}